{
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": { "node": { "paths": ["src"] } }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2017,
    "sourceType": "module"
  }
}
